Repository chenxiaoyao6228/idea-forge: changes, and which lefthook commands are due for each by the changed paths.
All: i18n, format, lint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  parallel: false
  commands:
    i18n:
      glob: "{client/src/**/*.{tsx,ts,jsx,js},**/locales/en.json}"
      run: |
        echo "Running i18n process..."
        pnpm i18n:process
        echo "Adding translation files..."
        git add **/**/locales/*.json
    format:
      glob: "*.{js,ts,jsx,tsx,json}"
      run: |
        pnpm biome format --write {staged_files}
        git add {staged_files}
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: |
        pnpm biome lint {staged_files}
        git add {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

fix: collaboration cursor errors
  apps/client/package.json
  apps/client/src/editor/hooks/use-collaboration-provider.ts
  apps/client/src/editor/index.tsx
  apps/client/src/editor/with-collaboration-provider.tsx
  apps/client/src/pages/doc/components/collab-users.tsx
  pnpm-lock.yaml
Due: format, lint

feat: add basic subscription system
  apps/api/.env.example
  apps/api/prisma/schema.prisma
  apps/api/public/locales/en.json
  apps/api/public/locales/zh.json
  apps/api/src/_shared/config/config-validation.ts
  apps/api/src/_shared/queues/processors/websocket-event.processor.ts
  apps/api/src/_shared/socket/business-event.constant.ts
  apps/api/src/app.module.ts
  apps/api/src/document/document.controller.ts
  apps/api/src/document/document.dto.ts
  apps/api/src/document/document.module.ts
  apps/api/src/document/document.service.ts
  apps/api/src/notification/notification.module.ts
  apps/api/src/notification/processors/notification.processor.ts
  apps/api/src/subscription/subscription.controller.ts
  apps/api/src/subscription/subscription.dto.ts
  apps/api/src/subscription/subscription.module.ts
  apps/api/src/subscription/subscription.service.ts
  apps/client/src/apis/subscription.ts
  apps/client/src/components/comments/comment-button.tsx
  apps/client/src/components/subscription/index.ts
  apps/client/src/components/subscription/publish-button.tsx
  apps/client/src/components/subscription/subscribe-button.tsx
  apps/client/src/editor/utils/comment-helpers.ts
  apps/client/src/hooks/websocket/index.ts
  apps/client/src/hooks/websocket/subscription-events.ts
  apps/client/src/lib/websocket.ts
  apps/client/src/pages/doc/components/doc-header.tsx
  apps/client/src/pages/main/settings/subspace/subspace-menu.tsx
  apps/client/src/pages/main/sharing/index.tsx
  apps/client/src/pages/main/sidebar/notification/notification-button.tsx
  apps/client/src/pages/main/sidebar/notification/notification-item.tsx
  apps/client/src/pages/main/sidebar/notification/notification-panel.tsx
  apps/client/src/stores/notification-store.ts
  apps/client/src/stores/subscription-store.ts
  packages/contracts/src/index.ts
  packages/contracts/src/notification.ts
  packages/contracts/src/subscription/index.ts
  packages/contracts/src/subscription/subscription.schema.ts
Due: i18n, format, lint

feat: add cross workspace doc publish notification and navigation
  apps/api/src/notification/processors/notification.processor.ts
  apps/client/src/components/subscription/subscribe-button.tsx
  apps/client/src/components/tooltip-wrapper.tsx
  apps/client/src/pages/main/sidebar/notification/notification-item.tsx
  apps/client/src/stores/workspace-store.ts
Due: format, lint

feat: collaboration service support auto subscription
  apps/api/src/collaboration/collaboration.module.ts
  apps/api/src/collaboration/collaboration.service.ts
Due: format, lint

feat: add permission check for publish and subscribe button
  apps/api/public/locales/en.json
  apps/api/public/locales/zh.json
  apps/api/src/notification/notification.service.ts
  apps/api/src/subscription/subscription.service.ts
  apps/api/src/workspace/workspace.service.ts
  apps/client/src/components/subscription/publish-button.tsx
  apps/client/src/components/subscription/subscribe-button.tsx
  apps/client/src/pages/doc/components/doc-header.tsx
  apps/client/src/pages/main/sidebar/notification/notification-item.tsx
  apps/client/src/stores/document-store.ts
  apps/client/src/stores/subscription-store.ts
  packages/contracts/src/notification.ts
Due: i18n, format, lint

feat: add notification spam prevention
  apps/api/prisma/migrations/20251028000000_add_subscription_and_spam_prevention/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/_shared/utils/document-diff.util.ts
  apps/api/src/document/document-view.service.ts
  apps/api/src/document/document.module.ts
  apps/api/src/document/document.service.ts
  apps/api/src/notification/processors/notification.processor.ts
  biome.json
Due: format, lint

fix: user should not be able to mention himself when comment
  apps/client/src/components/comments/mention-list.tsx
Due: format, lint

fix: document link hover issue
  apps/client/src/pages/main/sidebar/components/document-link.tsx
  apps/client/src/pages/main/sidebar/components/sidebar-link.tsx
  apps/client/src/pages/main/sidebar/components/subspace-link.tsx
Due: format, lint

fix: correct sidebar document link hover state for action buttons
  apps/client/src/pages/main/sidebar/components/document-menu.tsx
  apps/client/src/pages/main/sidebar/components/editable-title.tsx
Due: format, lint

fix: remove autofocus plugin to avoid extra empty paragraph
  packages/editor/src/extensions/base/auto-focus.ts
  packages/editor/src/index.ts
Due: format, lint

fix: reorder issues
  apps/client/src/pages/main/sidebar/hooks/use-dnd.tsx
Due: format, lint

refactor: simplify permission hook usage
  apps/client/src/components/subscription/publish-button.tsx
  apps/client/src/hooks/permissions/index.ts
  apps/client/src/hooks/permissions/use-document-permissions.ts
  apps/client/src/hooks/permissions/use-subspace-permissions.ts
  apps/client/src/hooks/permissions/use-workspace-permissions.ts
  apps/client/src/pages/doc/index.tsx
  apps/client/src/pages/main/settings/members/member-management/index.tsx
  apps/client/src/pages/main/settings/setting-modal.tsx
  apps/client/src/pages/main/settings/subspace/subspace-setting-modal/basic-info-tab.tsx
  apps/client/src/pages/main/settings/subspace/subspace-setting-modal/members-permissions-tab.tsx
  apps/client/src/pages/main/settings/subspace/subspace-setting-modal/security-tab.tsx
  apps/client/src/pages/main/settings/workspace/index.tsx
Due: format, lint

feat: update document permission check
  apps/api/src/document/document.ability.ts
  apps/api/src/document/document.controller.ts
  apps/api/src/document/document.service.ts
  apps/api/src/imports/imports.controller.ts
  apps/api/src/workspace/workspace.ability.ts
  apps/client/src/hooks/permissions/use-document-permissions.ts
  apps/client/src/hooks/permissions/use-workspace-permissions.ts
  apps/client/src/pages/doc/components/export-markdown-button.tsx
  apps/client/src/pages/main/sidebar/components/document-menu.tsx
  apps/client/src/pages/main/sidebar/index.tsx
  packages/contracts/src/ability.ts
Due: format, lint

refactor: move to trash behavior
  apps/api/prisma/schema.prisma
  apps/api/src/document/document.service.ts
  apps/api/src/document/search-document.service.ts
  apps/api/src/document/trash-document.service.ts
  apps/client/src/hooks/permissions/use-document-permissions.ts
  apps/client/src/pages/main/sidebar/components/document-menu.tsx
  apps/client/src/pages/main/sidebar/trash-dialog.tsx
  packages/contracts/src/ability.ts
  packages/contracts/src/document.ts
Due: format, lint

feat: stash
  apps/api/src/document/document.ability.ts
  apps/api/src/document/document.controller.ts
  apps/api/src/document/trash-document.service.ts
  apps/client/src/pages/main/sidebar/components/document-menu.tsx
  apps/client/src/pages/main/sidebar/trash-dialog.tsx
  openspec/project.md
  packages/contracts/src/document.ts
Due: format, lint

refactor: delete and restore behavior
  apps/api/prisma/migrations/20251028000000_add_subscription_and_spam_prevention/migration.sql
  apps/api/prisma/migrations/20251129000000_add_deleted_by_id/migration.sql
  apps/api/public/locales/en.json
  apps/api/public/locales/zh.json
  apps/api/src/_shared/casl/ability.class.ts
  apps/api/src/_shared/casl/policy.guard.ts
  apps/api/src/_shared/middlewares/fallback.middleware.ts
  apps/api/src/auth/auth.controller.ts
  apps/api/src/document/document.ability.ts
  apps/api/src/document/document.service.int.test.ts
  apps/api/src/document/document.service.ts
  apps/api/src/document/move-document.service.int.test.ts
  apps/api/src/document/trash-document.service.int.test.ts
  apps/api/src/document/trash-document.service.ts
  apps/api/src/subspace/subspace.service.ts
  apps/api/src/workspace/workspace.service.ts
  apps/api/test/factories/zod.ts
  apps/client/src/hooks/permissions/use-document-permissions.ts
  apps/client/src/hooks/use-ability.ts
  apps/client/src/pages/main/sidebar/trash-dialog.tsx
  apps/client/src/stores/ability-store.ts
  packages/contracts/src/document.ts
  packages/contracts/src/types/index.ts
Due: i18n, format, lint

refactor: some cleanups
  apps/api/prisma/migrations/20251201000000_remove_doc_visibility/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/_shared/queues/processors/websocket-event.processor.ts
  apps/api/src/document/document.service.int.test.ts
  apps/api/src/document/document.service.ts
  apps/api/src/imports/processors/import.processor.ts
  apps/client/src/pages/main/sharing/member-sharing-tab.tsx
  apps/client/src/stores/document-store.ts
  docs/permissions-architecture.md
  packages/contracts/src/document.ts
Due: format, lint

feat: track last view doc
  apps/api/prisma/migrations/20251201000001_add_last_visited_doc/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/prisma/seed.ts
  apps/api/public/locales/en.json
  apps/api/public/templates/welcome-document.md
  apps/api/src/_shared/middlewares/fallback.middleware.ts
  apps/api/src/document/document.controller.ts
  apps/api/src/document/document.service.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.service.ts
  apps/client/src/apis/document.ts
  apps/client/src/apis/user.ts
  apps/client/src/hooks/use-last-visited-document.ts
  apps/client/src/pages/main/index.tsx
  apps/client/src/stores/document-store.ts
Due: i18n, format, lint

feat: add invite-only subspace join request
  apps/api/prisma/migrations/20251103133427_add_subspace_to_notifications/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/public/locales/en.json
  apps/api/public/locales/zh.json
  apps/api/src/_shared/constants/api-response-constant.ts
  apps/api/src/notification/notification.module.ts
  apps/api/src/notification/notification.service.ts
  apps/api/src/subspace/subspace.controller.ts
  apps/api/src/subspace/subspace.module.ts
  apps/api/src/subspace/subspace.service.ts
  apps/api/src/workspace/workspace.service.ts
  apps/client/src/apis/subspace.ts
  apps/client/src/components/tooltip-wrapper.tsx
  apps/client/src/pages/main/settings/subspace/all-subspace-sheet.tsx
  apps/client/src/pages/main/settings/subspace/subspace-join-button.tsx
  apps/client/src/pages/main/sidebar/notification/notification-item.tsx
  apps/client/src/stores/subspace-store.ts
  packages/contracts/src/notification.ts
Due: i18n, format, lint

docs: update
  README-CN.md
  README.md
  docs/development/EN/permissions-architecture.md
  docs/marketing/images/document-permission-inheritance.png
  docs/marketing/images/file-imports.png
  docs/marketing/images/notification-comment-system.png
  docs/marketing/images/workspace-subspace-system.png
Due: none

chore: add changesets for workspace features
  .changeset/README.md
  .changeset/comment-system.md
  .changeset/config.json
  .changeset/document-import.md
  .changeset/groups-and-guests.md
  .changeset/notification-system.md
  .changeset/permission-system.md
  .changeset/public-sharing.md
  .changeset/subscription-system.md
  .changeset/workspace-system.md
  .github/workflows/changesets.yml
  docs/development/CHANGESETS.md
  package.json
  pnpm-lock.yaml
  scripts/bump-version.js
Due: format, lint

chore: fix some dependency vulnerabilities
  package.json
  packages/editor/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: format

chore: fix more vulnerabilities
  apps/api/package.json
  package.json
  pnpm-lock.yaml
Due: format

chore: upgrade Nestjs to v11
  apps/api/package.json
  apps/api/src/_shared/casl/casl.service.ts
  apps/api/src/app.module.ts
  docs/development/EN/CHANGESETS.md
  package.json
  pnpm-lock.yaml
Due: format, lint

fix: some ts errors
  apps/api/src/auth/auth.service.ts
  apps/api/src/auth/strategies/strategy.github.ts
  apps/api/src/auth/strategies/strategy.google.ts
  apps/client/src/hooks/websocket/event-buffer.spec.ts
  apps/client/tsconfig.json
  package.json
  packages/contracts/src/subscription/subscription.schema.ts
  pnpm-lock.yaml
Due: format, lint

chore: update
  DEPLOYMENT_READY.md
  Dockerfile
  apps/api/src/main.ts
  apps/client/src/hooks/use-last-visited-document.ts
  apps/client/src/lib/env.ts
  docs/development/EN/deployment.md
  scripts/deploy/deploy.sh
  scripts/development/create-worktree.sh
Due: format, lint

chore: update buildInf
  .gitignore
  DEPLOYMENT_READY.md
  Dockerfile
  apps/api/src/main.ts
  apps/client/src/hooks/use-last-visited-document.ts
  apps/client/src/lib/env.ts
  apps/client/src/pages/main/index.tsx
  apps/client/vite.config.ts
  docs/development/EN/deployment.md
  scripts/build-docker.sh
  scripts/deploy/README.md
  scripts/deploy/deploy-local.sh
  scripts/deploy/deploy.sh
  scripts/deploy/docker-compose.dev.yml
  scripts/deploy/docker-compose.yml
  scripts/development/create-worktree.sh
Due: format, lint

chore: add build info by vite plugin and inject to index.html
  .dockerignore
  .gitignore
  Dockerfile
  apps/api/src/_shared/middlewares/fallback.middleware.ts
  apps/client/build/plugins/vite/build-info-plugin.ts
  apps/client/scripts/generate-build-info.ts
  apps/client/src/lib/build-info.ts
  apps/client/vite.config.ts
Due: format, lint

fix: oAuth registration flow workspace creattion
  apps/api/src/auth/auth.module.ts
  apps/api/src/auth/auth.service.ts
  apps/client/src/hooks/use-last-visited-document.ts
  apps/client/src/pages/main/index.tsx
Due: format, lint

docs: update
  DEPLOYMENT_READY.md
  apps/api/src/_shared/config/config-validation.ts
  docs/development/EN/deployment.md
  docs/development/EN/development.md
  scripts/deploy/README.md
  scripts/deploy/deploy-quick-start.sh
  scripts/deploy/docker-compose.yml
  scripts/deploy/env.secrets.example
  scripts/deploy/nginx.conf.example
Due: format, lint

fix: minIO port configuration and unify OSS endpoints
  .env.example
  README-CN.md
  README.md
  apps/api/src/_shared/config/config-validation.ts
  apps/api/src/_shared/email/mail.service.tsx
  apps/api/src/file-store/oss.service.ts
  docs/development/CN/deployment.md
  docs/development/EN/deployment.md
  scripts/deploy/docker-compose.yml
  scripts/deploy/nginx.conf.example
Due: format, lint

chore: add docker release
  .github/workflows/docker-release.yml
  README.md
Due: none
