Repository chenxiaoyao6228/idea-forge: changes, and which lefthook commands are due for each by the changed paths.
All: i18n, format, lint

i18n:
  run: 'echo "Running i18n process..."
  
    pnpm i18n:process
  
    echo "Adding translation files..."
  
    git add **/**/locales/*.json
  
    '

format:
  run: 'pnpm biome format --write {staged_files}
  
    git add {staged_files}
  
    '

lint:
  run: 'pnpm biome lint {staged_files}
  
    git add {staged_files}
  
    '

chore: update buildInf
  .gitignore
  DEPLOYMENT_READY.md
  Dockerfile
  apps/api/src/main.ts
  apps/client/src/hooks/use-last-visited-document.ts
  apps/client/src/lib/env.ts
  apps/client/src/pages/main/index.tsx
  apps/client/vite.config.ts
  docs/development/EN/deployment.md
  scripts/build-docker.sh
  scripts/deploy/README.md
  scripts/deploy/deploy-local.sh
  scripts/deploy/deploy.sh
  scripts/deploy/docker-compose.dev.yml
  scripts/deploy/docker-compose.yml
  scripts/development/create-worktree.sh
Due: format, lint

fix: minIO port configuration and unify OSS endpoints
  .env.example
  README-CN.md
  README.md
  apps/api/src/_shared/config/config-validation.ts
  apps/api/src/_shared/email/mail.service.tsx
  apps/api/src/file-store/oss.service.ts
  docs/development/CN/deployment.md
  docs/development/EN/deployment.md
  scripts/deploy/docker-compose.yml
  scripts/deploy/nginx.conf.example
Due: format, lint

chore: add build info by vite plugin and inject to index.html
  .dockerignore
  .gitignore
  Dockerfile
  apps/api/src/_shared/middlewares/fallback.middleware.ts
  apps/client/build/plugins/vite/build-info-plugin.ts
  apps/client/scripts/generate-build-info.ts
  apps/client/src/lib/build-info.ts
  apps/client/vite.config.ts
Due: format, lint

fix: some ts errors
  apps/api/src/auth/auth.service.ts
  apps/api/src/auth/strategies/strategy.github.ts
  apps/api/src/auth/strategies/strategy.google.ts
  apps/client/src/hooks/websocket/event-buffer.spec.ts
  apps/client/tsconfig.json
  package.json
  packages/contracts/src/subscription/subscription.schema.ts
  pnpm-lock.yaml
Due: format, lint

docs: update
  DEPLOYMENT_READY.md
  apps/api/src/_shared/config/config-validation.ts
  docs/development/EN/deployment.md
  docs/development/EN/development.md
  scripts/deploy/README.md
  scripts/deploy/deploy-quick-start.sh
  scripts/deploy/docker-compose.yml
  scripts/deploy/env.secrets.example
  scripts/deploy/nginx.conf.example
Due: format, lint

chore: add docker release
  .github/workflows/docker-release.yml
  README.md
Due: none

fix: oAuth registration flow workspace creattion
  apps/api/src/auth/auth.module.ts
  apps/api/src/auth/auth.service.ts
  apps/client/src/hooks/use-last-visited-document.ts
  apps/client/src/pages/main/index.tsx
Due: format, lint

chore: upgrade Nestjs to v11
  apps/api/package.json
  apps/api/src/_shared/casl/casl.service.ts
  apps/api/src/app.module.ts
  docs/development/EN/CHANGESETS.md
  package.json
  pnpm-lock.yaml
Due: format, lint

chore: update worktree config
  .vscode/launch.json
  docs/development/EN/development.md
  package.json
  scripts/development/create-worktree.sh
  scripts/development/start-docker.sh
Due: format

fix: emoji import parsing
  apps/api/package.json
  apps/api/src/editor/markdown-converter.ts
  packages/editor/package.json
  packages/editor/src/extensions/markdown/index.ts
  packages/editor/src/extensions/nodes/emoji/index.ts
  pnpm-lock.yaml
Due: format, lint

fix: update login and logout feature - refactor useLogout, remove signout button component - auto fill password to login page after register - make Oauth process consistent with normal registration
  apps/api/public/locales/en.json
  apps/api/src/auth/auth.service.ts
  apps/client/src/pages/auth-callback.tsx
  apps/client/src/pages/login.tsx
  apps/client/src/pages/main/settings/account/index.tsx
  apps/client/src/pages/main/settings/signout-button.tsx
  apps/client/src/pages/register.tsx
  apps/client/src/pages/verify.tsx
  apps/client/src/stores/user-store.ts
Due: i18n, format, lint

chore: update build script
  Dockerfile
  packages/editor/src/extensions/nodes/emoji/index.ts
Due: format, lint

fix: public invitation link support support different expire time
  apps/api/prisma/schema.prisma
  apps/api/public/locales/en.json
  apps/api/src/_shared/email/mail.service.tsx
  apps/api/src/auth/verification.service.ts
  apps/api/src/workspace/workspace.controller.ts
  apps/api/src/workspace/workspace.dto.ts
  apps/api/src/workspace/workspace.service.ts
  apps/client/src/apis/workspace.ts
  apps/client/src/pages/login.tsx
  apps/client/src/pages/main/settings/members/member-management/index.tsx
  apps/client/src/pages/main/settings/members/member-management/reset-invite-link-modal.tsx
  apps/client/src/pages/register.tsx
  packages/contracts/src/workspace.ts
Due: i18n, format, lint

fix: public share page un-scrollable
  apps/client/src/components/back-to-top.tsx
  apps/client/src/pages/public-document/index.tsx
Due: format, lint

docs: update
  .env.example
  README-CN.md
  README.md
  apps/api/prisma/migrations/20251127000000_make_workspace_invite_expires_at_nullable/migration.sql
Due: none

feat: support delete subspace
  apps/api/prisma/migrations/20251129000000_add_cascade_delete_to_subspace_member/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/public/locales/en.json
  apps/api/src/_shared/constants/api-response-constant.ts
  apps/api/src/_shared/socket/business-event.constant.ts
  apps/api/src/subspace/subspace.ability.ts
  apps/api/src/subspace/subspace.service.ts
  apps/client/src/hooks/websocket/subspace-events.ts
  apps/client/src/lib/websocket.ts
  apps/client/src/pages/main/settings/subspace/subspace-setting-modal/basic-info-tab.tsx
  apps/client/src/pages/main/settings/subspace/subspace-setting-modal/subspace-settings-modal.tsx
  apps/client/src/pages/main/sidebar/notification/notification-list.tsx
Due: i18n, format, lint

chore: update some dev scripts
  .env.example
  lefthook.yml
  package.json
  pnpm-lock.yaml
  scripts/development/check-prisma-migrations.sh
  scripts/development/create-worktree.sh
Due: format

chore: update trans script CI
  .env.example
  .github/workflows/i18n-translate.yml
  docs/development/CN/deployment.md
  docs/development/EN/deployment.md
  scripts/deploy/docker-compose.yml
  scripts/deploy/env.secrets.example
  scripts/i18n/trans.env.example
  scripts/i18n/update-translation.js
Due: format, lint

test: add test key for i18n CI workflow
  apps/api/locales/en.json
Due: i18n, format

fix: add write permission for i18n workflow
  .github/workflows/i18n-translate.yml
Due: none

feat: support multiple provider and models
  .env.example
  .vscode/launch.json
  CLAUDE.md
  apps/api/package.json
  apps/api/prisma/migrations/20251201100000_add_workspace_ai_provider/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/public/locales/en.json
  apps/api/src/_shared/casl/policy.guard.ts
  apps/api/src/_shared/casl/util.ts
  apps/api/src/_shared/config/configs/ai-provider.config.ts
  apps/api/src/_shared/config/configs/index.ts
  apps/api/src/_shared/utils/encryption.service.ts
  apps/api/src/ai/ai-provider.factory.ts
  apps/api/src/ai/ai.controller.ts
  apps/api/src/ai/ai.module.ts
  apps/api/src/ai/ai.service.ts
  apps/api/src/ai/ai.type.ts
  apps/api/src/main.ts
  apps/api/src/workspace/workspace-ai-config.controller.ts
  apps/api/src/workspace/workspace-ai-config.service.ts
  apps/api/src/workspace/workspace.module.ts
  apps/client/src/apis/workspace.ts
  apps/client/src/components/ui/multi-selector.tsx
  apps/client/src/editor/ai-panel/ai-panel-store.ts
  apps/client/src/editor/ai-panel/user-prompt.tsx
  apps/client/src/lib/ai-providers.ts
  apps/client/src/pages/main/settings/setting-modal.tsx
  apps/client/src/pages/main/settings/workspace/ai-config/index.tsx
  apps/client/src/pages/main/settings/workspace/ai-config/provider-form-dialog.tsx
  packages/contracts/src/ai.ts
  pnpm-lock.yaml
Due: i18n, format, lint

fix: Oauth refresh token issue
  .env.example
  apps/api/src/auth/auth.service.ts
Due: format, lint

fix: contract issue
  packages/contracts/src/ai.ts
Due: format, lint

fix: contract issue 2
  apps/api/src/ai/ai-provider.factory.ts
  apps/api/src/ai/ai.service.ts
  apps/api/src/workspace/workspace-ai-config.controller.ts
  apps/api/src/workspace/workspace-ai-config.service.ts
  packages/contracts/src/ai.ts
Due: format, lint

fix: contract issue 3
  apps/client/src/lib/ai-providers.ts
Due: format, lint

fix: contract issue 4
  apps/api/src/_shared/config/config-validation.ts
Due: format, lint

fix: contract issue 5
  scripts/deploy/docker-compose.yml
  scripts/deploy/env.secrets.example
Due: none

fix: contract issue 6
  scripts/deploy/docker-compose.yml
  scripts/deploy/env.secrets.example
Due: none

fix: contract issue 7
  Dockerfile
  scripts/deploy/docker-compose.yml
Due: none

fix: contract issue 8
  .github/workflows/build-docker.yml
Due: none

fix: contract issue 8
  .env.example
  Dockerfile
  scripts/deploy/docker-compose.yml
Due: none

Path conditions:
  i18n: any of: {client/src/**/*.{tsx,ts,jsx,js},**/locales/en.json}
  format: any of: *.{js,ts,jsx,tsx,json}
  lint: any of: *.{js,ts,jsx,tsx}
