Repository chenxiaoyao6228/idea-forge: changes, and which lefthook commands are due for each by the changed paths.
All: i18n, format, lint

i18n:
  run: 'echo "Running i18n process..."
  
    pnpm i18n:process
  
    echo "Adding translation files..."
  
    git add **/**/locales/*.json
  
    '

format:
  run: 'pnpm biome format --write {staged_files}
  
    git add {staged_files}
  
    '

lint:
  run: 'pnpm biome lint {staged_files}
  
    git add {staged_files}
  
    '

feat: implement WebSocket event batching, deduplication, and ordering
  apps/api/src/_shared/queues/helpers/event-batcher.ts
  apps/api/src/_shared/queues/helpers/event-batcher.unit.test.ts
  apps/api/src/_shared/queues/helpers/event-deduplicator.ts
  apps/api/src/_shared/queues/helpers/event-deduplicator.unit.test.ts
  apps/api/src/document/share-document.batching.unit.test.ts
  apps/client/src/hooks/websocket/event-buffer.spec.ts
  apps/client/src/hooks/websocket/event-buffer.ts
Due: format, lint

feat: add new websocket events for permission handling
  apps/api/src/_shared/queues/processors/websocket-event.processor.ts
  apps/api/src/_shared/socket/business-event.constant.ts
  apps/api/src/document/document.module.ts
  apps/api/src/document/share-document.services.ts
  apps/api/src/guest-collaborators/guest-collaborators.module.ts
  apps/api/src/guest-collaborators/guest-collaborators.service.ts
  apps/client/src/editor/hooks/use-collaboration-provider.ts
  apps/client/src/editor/index.tsx
  apps/client/src/hooks/websocket/index.ts
  apps/client/src/hooks/websocket/permission-events.ts
  apps/client/src/lib/websocket.ts
  apps/client/src/pages/main/sharing/guest-sharing-tab.tsx
Due: format, lint

refactor: remove old DocShare module for public share rebuild
  apps/api/prisma/schema.prisma
  apps/api/src/app.module.ts
  apps/api/src/doc-share/README.md
  apps/api/src/doc-share/doc-share.controller.ts
  apps/api/src/doc-share/doc-share.dto.ts
  apps/api/src/doc-share/doc-share.module.ts
  apps/api/src/doc-share/doc-share.presenter.ts
  apps/api/src/doc-share/doc-share.service.ts
  apps/api/src/document/document.module.ts
  apps/client/src/pages/main/sharing/guest-sharing-tab.tsx
Due: format, lint

feat: auto detect and jump to share if unauthenticated user acess a doc with share
  apps/api/src/_shared/middlewares/fallback.middleware.ts
  apps/api/src/_shared/middlewares/public-share-discovery.middleware.ts
  apps/api/src/_shared/utils/__tests__/document-validators.unit.test.ts
  apps/api/src/_shared/utils/document-validators.ts
  apps/api/src/app.module.ts
  apps/api/src/document/document.controller.ts
  apps/api/src/public-share/public-share.controller.ts
  apps/api/src/public-share/public-share.presenter.ts
  apps/api/src/public-share/public-share.service.ts
  apps/client/src/apis/public-share.ts
  apps/client/src/pages/public-document/components/public-breadcrumb.tsx
  apps/client/src/pages/public-document/components/public-link.tsx
  apps/client/src/pages/public-document/index.tsx
  apps/client/src/router/index.tsx
  package.json
  specs/001-public-document-sharing/docs/one-share-per-doc.md
  specs/001-public-document-sharing/docs/public-share-unified-permission-discussion.md
  specs/001-public-document-sharing/plan.md
  specs/001-public-document-sharing/spec.md
  specs/001-public-document-sharing/tasks.md
Due: format, lint

feat: simplified authenticated-aware public share button
  apps/api/src/_shared/middlewares/fallback.middleware.ts
  apps/client/src/pages/main/sharing/public-sharing-section.tsx
  apps/client/src/pages/public-document/components/public-sidebar.tsx
  apps/client/src/pages/public-document/index.tsx
  specs/001-public-document-sharing/discussions/simplified-auth-aware-button.md
  specs/001-public-document-sharing/spec.md
Due: format, lint

fix: i18n process
  apps/api/public/locales/en.json
  apps/api/public/locales/zh.json
  apps/client/i18next-parser.config.js
  apps/client/src/pages/main/settings/subspace/index.tsx
  lefthook.yml
Due: i18n, format, lint

feat: add disable public toggle to workspace setting
  apps/api/public/locales/en.json
  apps/api/public/locales/zh.json
  apps/api/src/document/share-document.controller.ts
  apps/api/src/document/share-document.services.ts
  apps/client/src/pages/main/settings/workspace/index.tsx
  apps/client/src/pages/main/sharing/public-sharing-section.tsx
  apps/client/src/stores/workspace-store.ts
  packages/contracts/src/workspace.ts
Due: i18n, format, lint

refactor: trim and remove some unnecessary presenters
  apps/api/src/document/document.presenter.ts
  apps/api/src/subspace/subspace.presenter.ts
  apps/api/src/subspace/subspace.service.ts
  apps/api/src/workspace/workspace.presenter.ts
  apps/api/src/workspace/workspace.service.ts
Due: format, lint

refactor: subspace icon
  apps/api/public/locales/en.json
  apps/api/public/locales/zh.json
  apps/api/public/sprite.svg
  apps/client/src/assets/icons/subspace-invite-only.svg
  apps/client/src/assets/icons/subspace-private.svg
  apps/client/src/assets/icons/subspace-public.svg
  apps/client/src/assets/icons/subspace-workspace-wide.svg
  apps/client/src/components/subspace-icon.tsx
  apps/client/src/hooks/use-subspace-labels.ts
  apps/client/src/pages/main/settings/subspace/all-subspace-sheet.tsx
  apps/client/src/pages/main/settings/subspace/create-subspace-dialog.tsx
  apps/client/src/pages/main/settings/subspace/subspace-table.tsx
  apps/client/src/pages/main/settings/subspace/subspace-type-selector.tsx
  apps/client/src/pages/main/sidebar/components/subspace-link.tsx
Due: i18n, format, lint

feat: add page visibility and recover listener for websocket
  apps/client/package.json
  apps/client/src/hooks/use-sync-on-reconnect.ts
  apps/client/src/lib/page-visibility.ts
  apps/client/src/lib/websocket.ts
  apps/client/src/pages/main/index.tsx
  apps/client/src/pages/main/sidebar/subspaces.tsx
  apps/client/src/types/ifvisible.d.ts
  pnpm-lock.yaml
Due: format, lint

feat: add network status check for websocket
  apps/api/src/document/document.service.ts
  apps/api/src/document/move-document.service.ts
  apps/client/src/lib/network-status.ts
  apps/client/src/lib/page-visibility.ts
  apps/client/src/lib/websocket.ts
  lefthook.yml
  packages/contracts/src/index.ts
  packages/contracts/src/share.ts
Due: format, lint

feat: enhance error handling for websocket
  apps/client/src/lib/websocket.ts
Due: format, lint

feat: add basic notification
  AGENTS.md
  CLAUDE.md
  apps/api/prisma/migrations/20251014001211_add_notification/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/public/locales/en.json
  apps/api/public/locales/zh.json
  apps/api/src/app.module.ts
  apps/api/src/notification/notification.controller.ts
  apps/api/src/notification/notification.gateway.ts
  apps/api/src/notification/notification.module.ts
  apps/api/src/notification/notification.service.ts
  apps/api/src/notification/processors/notification-event.processor.ts
  apps/client/src/apis/notification.ts
  apps/client/src/components/notification/index.ts
  apps/client/src/components/notification/notification-button.tsx
  apps/client/src/components/notification/notification-item.tsx
  apps/client/src/components/notification/notification-list.tsx
  apps/client/src/components/notification/notification-panel.tsx
  apps/client/src/components/notification/viewport-batch-context.tsx
  apps/client/src/components/notification/viewport-tracker.tsx
  apps/client/src/hooks/websocket/index.ts
  apps/client/src/hooks/websocket/notification-events.ts
  apps/client/src/pages/main/sidebar/index.tsx
  apps/client/src/stores/notification-store.ts
  packages/contracts/src/index.ts
  packages/contracts/src/notification.ts
  scripts/seed/create-notifications.js
Due: i18n, format, lint

feat: add cross workspace support for notification
  CLAUDE.md
  apps/api/prisma/migrations/20250115000000_convert_notification_enums_to_string/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/prisma/seed.ts
  apps/api/src/_shared/queues/processors/websocket-event.processor.ts
  apps/api/src/_shared/socket/business-event.constant.ts
  apps/api/src/document/document.controller.ts
  apps/api/src/document/document.dto.ts
  apps/api/src/document/document.module.ts
  apps/api/src/document/share-document.services.ts
  apps/api/src/notification/notification.controller.ts
  apps/api/src/notification/notification.module.ts
  apps/api/src/notification/notification.service.ts
  apps/api/src/workspace/workspace.controller.ts
  apps/api/src/workspace/workspace.module.ts
  apps/api/src/workspace/workspace.service.ts
  apps/client/src/apis/document.ts
  apps/client/src/apis/notification.ts
  apps/client/src/components/notification/notification-button.tsx
  apps/client/src/components/notification/notification-item.tsx
  apps/client/src/components/notification/notification-list.tsx
  apps/client/src/components/notification/notification-panel.tsx
  apps/client/src/components/notification/viewport-batch-context.tsx
  apps/client/src/components/notification/viewport-tracker.tsx
  apps/client/src/components/ui/permission-level-selector.tsx
  apps/client/src/hooks/websocket/notification-events.ts
  apps/client/src/hooks/websocket/workspace-events.ts
  apps/client/src/lib/websocket.ts
  apps/client/src/pages/main/sharing/member-sharing-tab.tsx
  apps/client/src/pages/main/sharing/request-permission-modal.tsx
  apps/client/src/pages/main/sidebar/workspace-switcher.tsx
  apps/client/src/stores/notification-store.ts
  packages/contracts/src/document.ts
  packages/contracts/src/index.ts
  packages/contracts/src/notification.ts
Due: format, lint

feat: add markAllAsRead for notification
  apps/api/public/locales/en.json
  apps/api/public/locales/zh.json
  apps/api/src/document/share-document.services.ts
  apps/api/src/notification/notification.controller.ts
  apps/api/src/notification/notification.service.ts
  apps/client/src/apis/notification.ts
  apps/client/src/components/notification/notification-list.tsx
  apps/client/src/components/notification/notification-panel.tsx
  apps/client/src/stores/notification-store.ts
  packages/contracts/src/index.ts
  packages/contracts/src/notification.ts
  pnpm-lock.yaml
Due: i18n, format, lint

feat: small updates
  CLAUDE.md
  apps/api/package.json
  apps/api/prisma/add-user-to-workspace.ts
  apps/api/prisma/migrations/20250115000000_convert_notification_enums_to_string/migration.sql
  apps/api/prisma/migrations/20251006000000_add_notification_and_public_share/migration.sql
  apps/api/prisma/migrations/20251014001211_add_notification/migration.sql
  apps/api/src/document/share-document.services.ts
  apps/api/src/notification/notification.module.ts
  apps/api/src/notification/notification.service.ts
  apps/api/vitest.int.config.ts
  apps/client/package.json
  apps/client/src/components/notification/notification-item.tsx
  apps/client/src/components/notification/notification-list.tsx
  apps/client/src/components/notification/notification-panel.tsx
  apps/client/src/pages/main/sharing/member-sharing-tab.tsx
  apps/client/src/stores/notification-store.ts
  packages/contracts/src/document.ts
  pnpm-lock.yaml
Due: format, lint

feat: add notification settings
  .claude/commands/openspec/apply.md
  .claude/commands/openspec/archive.md
  .claude/commands/openspec/proposal.md
  AGENTS.md
  apps/api/public/locales/en.json
  apps/api/public/locales/zh.json
  apps/api/src/notification/notification-setting.service.ts
  apps/api/src/notification/notification.controller.ts
  apps/api/src/notification/notification.module.ts
  apps/api/src/notification/notification.service.ts
  apps/client/src/apis/notification.ts
  apps/client/src/components/notification/notification-item.tsx
  apps/client/src/components/ui/confirm-modal/index.tsx
  apps/client/src/pages/main/settings/general/index.tsx
  apps/client/src/pages/main/settings/setting-modal.tsx
  apps/client/src/pages/main/sidebar/ my-docs.tsx
  apps/client/src/pages/main/sidebar/index.tsx
  apps/client/src/pages/main/sidebar/subspaces.tsx
  apps/client/src/stores/notification-store.ts
  openspec/AGENTS.md
  openspec/changes/archive/2025-10-18-add-notification-settings/README.md
  openspec/changes/archive/2025-10-18-add-notification-settings/design.md
  openspec/changes/archive/2025-10-18-add-notification-settings/notification-setting-plan.md
  openspec/changes/archive/2025-10-18-add-notification-settings/proposal.md
  openspec/changes/archive/2025-10-18-add-notification-settings/specs/notification-settings/spec.md
  openspec/changes/archive/2025-10-18-add-notification-settings/specs/notifications/spec.md
  openspec/changes/archive/2025-10-18-add-notification-settings/tasks.md
  openspec/project.md
  openspec/specs/notification-settings/spec.md
  openspec/specs/notifications/spec.md
  packages/contracts/src/notification.ts
Due: i18n, format, lint

chore: extract util package
  apps/client/package.json
  apps/client/src/editor/index.tsx
  apps/client/src/lib/request.ts
  apps/client/src/lib/websocket.ts
  packages/utils/package.json
  packages/utils/src/async/index.ts
  packages/utils/src/async/resolvable-promise.ts
  packages/utils/src/async/to-async.ts
  packages/utils/src/index.ts
  packages/utils/src/string/index.ts
  packages/utils/src/string/random.ts
  packages/utils/src/string/uuid.ts
  packages/utils/src/time/delay.ts
  packages/utils/src/time/index.ts
  packages/utils/src/types/common.ts
  packages/utils/src/types/index.ts
  packages/utils/tsconfig.json
  packages/utils/vitest.config.ts
  pnpm-lock.yaml
Due: format, lint

refactor: migrate most of the extensions to v3
  apps/api/package.json
  apps/client/package.json
  apps/client/src/editor/bubble-menus/bubble-menu-wrapper.tsx
  apps/client/src/editor/bubble-menus/code-block-menu/index.tsx
  apps/client/src/editor/bubble-menus/custom-bubble-menu.tsx
  apps/client/src/editor/bubble-menus/drag-handle-menu/index.tsx
  apps/client/src/editor/bubble-menus/image-block-menu/index.tsx
  apps/client/src/editor/bubble-menus/index.tsx
  apps/client/src/editor/bubble-menus/link-menu/index.tsx
  apps/client/src/editor/bubble-menus/table-menu/table-col-menu.tsx
  apps/client/src/editor/bubble-menus/table-menu/table-row-menu.tsx
  apps/client/src/editor/bubble-menus/text-menu/index.tsx
  apps/client/src/editor/extensions/block-quote/index.tsx
  apps/client/src/editor/extensions/bold/index.ts
  apps/client/src/editor/extensions/code-block/code-block-view.tsx
  apps/client/src/editor/extensions/code/index.ts
  apps/client/src/editor/extensions/document/index.ts
  apps/client/src/editor/extensions/heading/index.ts
  apps/client/src/editor/extensions/image-block/image-block-view.tsx
  apps/client/src/editor/extensions/image-block/index.ts
  apps/client/src/editor/extensions/italic/index.ts
  apps/client/src/editor/extensions/link/index.ts
  apps/client/src/editor/extensions/markdown/index.ts
  apps/client/src/editor/extensions/markdown/parser/state.ts
  apps/client/src/editor/extensions/markdown/serializer/state.ts
  apps/client/src/editor/extensions/ordered-list/index.ts
  apps/client/src/editor/extensions/slash-commands/index.tsx
  apps/client/src/editor/extensions/strike/index.ts
  apps/client/src/editor/extensions/sub/index.ts
  apps/client/src/editor/extensions/sup/index.ts
  apps/client/src/editor/extensions/table/table-row.ts
  apps/client/src/editor/extensions/table/table.ts
  apps/client/src/editor/extensions/task-item/index.ts
  apps/client/src/editor/extensions/task-list/index.ts
  apps/client/src/editor/extensions/test-markdown.md
  apps/client/src/editor/extensions/text/index.ts
  apps/client/src/editor/extensions/underline/index.ts
  apps/client/src/editor/hooks/use-collaboration-provider.ts
  apps/client/src/editor/index.css
  pnpm-lock.yaml
Due: format, lint

fix: toc render without corret level issues
  apps/client/src/editor/extensions/code/index.ts
  apps/client/src/editor/extensions/heading/index.ts
  apps/client/src/editor/extensions/link/index.ts
  apps/client/src/editor/extensions/list-item/index.ts
  apps/client/src/editor/extensions/paragraph/index.ts
  apps/client/src/editor/extensions/table/table-header.ts
  apps/client/src/editor/extensions/task-item/index.ts
  apps/client/src/editor/index.css
  apps/client/src/editor/index.tsx
  apps/client/src/pages/doc/components/table-of-content.tsx
  pnpm-lock.yaml
Due: format, lint

fix: ordered-list and unordered-list rendering issue
  apps/client/src/editor/extensions/test-markdown.md
  apps/client/src/editor/index.css
Due: none

feat: can add image under a task item for better note
  apps/client/src/editor/extensions/slash-commands/index.tsx
  apps/client/src/editor/extensions/task-item/index.ts
Due: format, lint

feat: enable shortcut to reorder list item
  apps/client/src/editor/extensions/list-item/index.ts
  apps/client/src/editor/extensions/task-item/index.ts
Due: format, lint

fix: vscode code block paste style and editor code wrap issue
  apps/client/src/editor/extensions/code-block/code-block-view.tsx
  apps/client/src/editor/extensions/code-block/plugins/create-code-block-vscode-handler.ts
  apps/client/src/editor/extensions/markdown/plugins/create-markdown-paste-handler.ts
  apps/client/src/editor/index.css
Due: format, lint

fix: code block flicking issue
  apps/client/src/editor/bubble-menus/README.md
  apps/client/src/editor/bubble-menus/code-block-menu/ language-selector.tsx
  apps/client/src/editor/bubble-menus/code-block-menu/copy-code-button.tsx
  apps/client/src/editor/bubble-menus/code-block-menu/mermaid-menu.tsx
  apps/client/src/editor/bubble-menus/custom-bubble-menu.tsx
Due: format, lint

feat: enhance enter key behavior
  apps/client/src/editor/extensions/task-item/index.ts
Due: format, lint

feat(editor): initialize @idea/editor package infrastructure
  packages/editor/.gitignore
  packages/editor/README.md
  packages/editor/package.json
  packages/editor/src/index.test.ts
  packages/editor/src/index.ts
  packages/editor/tsconfig.json
  packages/editor/vitest.config.ts
  pnpm-lock.yaml
Due: format, lint

feat: import editor package to the client
  apps/client/package.json
  apps/client/src/editor/extensions/index.ts
  packages/editor/package.json
  packages/editor/src/extensions/nodes/document/index.ts
  packages/editor/src/extensions/nodes/heading/index.ts
  packages/editor/src/index.ts
  packages/editor/src/types/markdown.ts
  packages/editor/tsconfig.json
  pnpm-lock.yaml
Due: format, lint

docs: document one way on how to use esm in nest
  apps/api/README.md
  apps/api/webpack.config.js
Due: format, lint

feat: basic markdown import test at the server
  apps/api/package.json
  apps/api/src/collaboration/collaboration.module.ts
  apps/api/src/collaboration/collaboration.service.ts
  apps/api/src/collaboration/extensions/transformer/index.ts
  apps/api/src/document/document.module.ts
  apps/api/src/document/import-document.controller.ts
  apps/api/src/document/import-document.service.ts
  apps/api/webpack.config.js
  packages/editor/package.json
  packages/editor/src/extensions/nodes/document/index.ts
  packages/editor/src/extensions/nodes/paragraph/index.ts
  packages/editor/src/extensions/nodes/text/index.ts
  packages/editor/src/index.ts
  packages/editor/src/markdown/index.ts
  packages/editor/src/markdown/parser/stack.ts
  packages/editor/src/markdown/parser/state.ts
  packages/editor/src/markdown/plugins/create-markdown-paste-handler.ts
  packages/editor/src/markdown/plugins/decoration.ts
  packages/editor/src/markdown/plugins/wrap.ts
  packages/editor/src/markdown/serializer/stack.ts
  packages/editor/src/markdown/serializer/state.ts
  packages/editor/src/markdown/types/index.ts
  packages/editor/tsconfig.cjs.json
  packages/editor/tsconfig.json
  pnpm-lock.yaml
  scripts/test-document.md
  scripts/test-markdown-import.ts
Due: format, lint

chore: rely on api and client for bundling packages
  apps/api/tsconfig.json
  apps/api/webpack.config.js
  apps/client/src/editor/extensions/index.ts
  apps/client/tsconfig.json
  apps/client/vite.config.ts
  packages/editor/package.json
  packages/editor/src/index.test.ts
  packages/icons/package.json
Due: format, lint

feat: can simple import markdown and html
  apps/api/src/auth/auth.controller.ts
  apps/api/src/auth/strategies/strategy.jwt.ts
  apps/api/src/document/import-document.controller.ts
  apps/api/src/document/import-document.service.ts
  apps/client/src/editor/ai-panel/index.tsx
  apps/client/src/pages/main/sidebar/components/document-link.tsx
  apps/client/src/pages/main/sidebar/components/document-menu.tsx
  apps/client/src/stores/document-store.ts
  packages/editor/src/index.ts
  scripts/test-document.html
  scripts/test-html-import.ts
Due: format, lint

feat: add docx and csv import support * extract a new file-type util, update client usage * add docx and csv support * update document.create to support contentBiary
  apps/api/package.json
  apps/api/public/locales/en.json
  apps/api/public/locales/zh.json
  apps/api/src/_shared/utils/document-converter.ts
  apps/api/src/_shared/utils/document-converter.unit.test.ts
  apps/api/src/document/import-document.controller.ts
  apps/api/src/document/import-document.service.ts
  apps/api/test/fixtures/README.md
  apps/api/test/fixtures/file-sample_1MB.docx
  apps/api/test/fixtures/file-sample_500kB.doc
  apps/api/test/fixtures/file-sample_500kB.docx
  apps/api/test/fixtures/file_example_XLSX_10.xlsx
  apps/api/test/fixtures/file_example_XLSX_5000.xlsx
  apps/api/test/fixtures/file_example_XLS_100.xls
  apps/api/test/fixtures/file_example_XLS_5000.xls
  apps/api/test/fixtures/test-data.csv
  apps/api/test/fixtures/test-document.html
  apps/api/test/fixtures/test-document.md
  apps/client/package.json
  apps/client/src/editor/extensions/index.ts
  apps/client/src/lib/file.ts
  packages/contracts/src/document.ts
  packages/editor/src/index.ts
  packages/utils/package.json
  packages/utils/src/file/file-type.ts
  packages/utils/src/file/index.ts
  packages/utils/src/index.ts
  packages/utils/tsconfig.json
  pnpm-lock.yaml
  scripts/test-document-import.ts
  scripts/test-html-import.ts
  scripts/test-markdown-import.ts
Due: i18n, format, lint

feat: import module with oss integation and websocket publishing
  apps/api/prisma/migrations/20251021072420_add_temporary_import/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/_shared/queues/processors/websocket-event.processor.ts
  apps/api/src/_shared/queues/queue.module.ts
  apps/api/src/_shared/socket/business-event.constant.ts
  apps/api/src/app.module.ts
  apps/api/src/file-store/file-cleanup.service.ts
  apps/api/src/file-store/file-context.enum.ts
  apps/api/src/file-store/file-path.service.ts
  apps/api/src/file-store/file-store.module.ts
  apps/api/src/file-store/oss.service.ts
  apps/api/src/imports/imports.controller.ts
  apps/api/src/imports/imports.dto.ts
  apps/api/src/imports/imports.module.ts
  apps/api/src/imports/imports.service.ts
  apps/api/src/imports/processors/import.processor.ts
  packages/contracts/src/imports.ts
  packages/contracts/src/index.ts
Due: format, lint

test: add simple e2e test for import, wip
  apps/api/src/auth/auth.e2e.test.ts
  apps/api/src/imports/imports.controller.ts
  apps/api/src/imports/imports.service.ts
  package.json
  packages/contracts/src/imports.ts
  pnpm-lock.yaml
  tests/e2e/helpers/api-helpers.ts
  tests/e2e/helpers/auth.ts
  tests/e2e/specs/document-import.spec.ts
Due: format, lint

feat: support single file import on the client
  apps/api/prisma/migrations/20251021134209_add_parent_id_to_temporary_import/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/imports/imports.controller.ts
  apps/api/src/imports/imports.dto.ts
  apps/api/src/imports/imports.module.ts
  apps/api/src/imports/imports.service.ts
  apps/api/src/imports/processors/import.processor.ts
  apps/client/src/apis/imports.ts
  apps/client/src/constants/index.ts
  apps/client/src/hooks/use-document-import.ts
  apps/client/src/lib/filesystem.ts
  apps/client/src/lib/upload-document.ts
  apps/client/src/pages/main/sidebar/import-files-dialog.tsx
  packages/contracts/src/imports.ts
Due: format, lint

Path conditions:
  i18n: any of: {client/src/**/*.{tsx,ts,jsx,js},**/locales/en.json}
  format: any of: *.{js,ts,jsx,tsx,json}
  lint: any of: *.{js,ts,jsx,tsx}
