Repository chenxiaoyao6228/idea-forge: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, i18n, format, lint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
pre-commit:
  parallel: false
  commands:
    typecheck:
      glob: "*.{js,ts,jsx,tsx,json}"
      run: |
        echo "Running typecheck..."  
        pnpm typecheck
        git add {staged_files}
    i18n:
      glob: "{apps/client/src/**/*.{tsx,ts,jsx,js},apps/api/src/**/*.{tsx,ts,jsx,js},**/locales/en.json}"
      run: |
        echo "Running i18n process..."  
        pnpm i18n:process  
        # echo "Adding translation files..."  
        git add apps/api/locales/*.json && git add apps/api/public/locales/*.json
    format:
      glob: "*.{js,ts,jsx,tsx,json}"
      run: |
        echo "Running biome format..."  
        pnpm biome format --write {staged_files}  
        git add {staged_files}
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: |
        echo "Running biome lint with fixes..."  
        pnpm biome check --write {staged_files}  
        git add {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

pre-push:
  commands:
    check-prisma-migrations:
      run: |
        echo "Checking for pending Prisma migrations..."
        ./scripts/development/check-prisma-migrations.sh

feat: support multiple provider and models
  .env.example
  CLAUDE.md
  apps/api/package.json
  apps/api/prisma/migrations/20251201100000_add_workspace_ai_provider/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/public/locales/en.json
  apps/api/src/_shared/casl/policy.guard.ts
  apps/api/src/_shared/casl/util.ts
  apps/api/src/_shared/config/configs/ai-provider.config.ts
  apps/api/src/_shared/config/configs/index.ts
  apps/api/src/_shared/utils/encryption.service.ts
  apps/api/src/ai/ai-provider.factory.ts
  apps/api/src/ai/ai.controller.ts
  apps/api/src/ai/ai.module.ts
  apps/api/src/ai/ai.service.ts
  apps/api/src/ai/ai.type.ts
  apps/api/src/main.ts
  apps/api/src/workspace/workspace-ai-config.controller.ts
  apps/api/src/workspace/workspace-ai-config.service.ts
  apps/api/src/workspace/workspace.module.ts
  apps/client/src/apis/workspace.ts
  apps/client/src/components/ui/multi-selector.tsx
  apps/client/src/editor/ai-panel/ai-panel-store.ts
  apps/client/src/editor/ai-panel/user-prompt.tsx
  apps/client/src/lib/ai-providers.ts
  apps/client/src/pages/main/settings/setting-modal.tsx
  apps/client/src/pages/main/settings/workspace/ai-config/index.tsx
  apps/client/src/pages/main/settings/workspace/ai-config/provider-form-dialog.tsx
  packages/contracts/src/ai.ts
  pnpm-lock.yaml
Due: typecheck, i18n, format, lint

fix: Oauth refresh token issue
  .env.example
  apps/api/src/auth/auth.service.ts
Due: typecheck, i18n, format, lint

chore: update docker file for deployment
  .env.example
  .github/workflows/build-docker.yml
  Dockerfile
  apps/api/src/_shared/config/config-validation.ts
  apps/api/src/ai/ai-provider.factory.ts
  apps/api/src/ai/ai.service.ts
  apps/api/src/workspace/workspace-ai-config.controller.ts
  apps/api/src/workspace/workspace-ai-config.service.ts
  apps/client/src/lib/ai-providers.ts
  packages/contracts/src/ai.ts
  scripts/deploy/docker-compose.yml
  scripts/deploy/env.secrets.example
Due: typecheck, i18n, format, lint

chore: update deps
  package.json
  pnpm-lock.yaml
Due: typecheck, format

fix: permission tooltip display
  apps/api/package.json
  apps/api/src/document/share-document.services.ts
  apps/api/src/group/group.controller.ts
  apps/api/src/permission/document-permission.service.ts
  apps/client/src/pages/main/sharing/member-sharing-tab.tsx
  package.json
Due: typecheck, i18n, format, lint

refactor: increase all ai context length
  apps/client/src/editor/ai-panel/util.ts
  apps/client/src/editor/constant.ts
Due: typecheck, i18n, format, lint

feat: add image preview modal
  apps/api/public/locales/en.json
  apps/client/src/components/image-preview-dialog.tsx
  apps/client/src/editor/bubble-menus/image-block-menu/index.tsx
  apps/client/src/editor/extensions/image-block/image-block-view.tsx
Due: typecheck, i18n, format, lint

fix: unique id extension causing the empty paragraph
  apps/api/public/locales/en.json
  apps/api/tsconfig.json
  apps/api/webpack.config.js
  apps/client/package.json
  apps/client/src/editor/extensions/index.ts
  apps/client/src/editor/index.tsx
  apps/client/src/editor/read-only-editor.tsx
  package.json
  packages/editor/src/extensions/nodes/emoji/index.ts
  pnpm-lock.yaml
Due: typecheck, i18n, format, lint

fix: delete personal doc should also update the doc tree
  apps/client/src/pages/main/sidebar/ my-docs.tsx
  apps/client/src/pages/main/sidebar/components/document-link.tsx
  apps/client/src/pages/main/sidebar/components/document-menu.tsx
  apps/client/src/pages/main/sidebar/hooks/use-dnd.tsx
  apps/client/src/stores/document-store.ts
Due: typecheck, i18n, format, lint

fix: repair pnpm run setup migrate and minio bucket steps
  apps/api/package.json
  package.json
  scripts/development/setup.sh
Due: typecheck, format

docs: add contributing guidelines (EN + CN)
  CONTRIBUTING-CN.md
  CONTRIBUTING.md
  README-CN.md
Due: none

fix: guard toggleTaskList in content type menu to prevent crash on select
  apps/client/src/editor/bubble-menus/text-menu/content-type-menu/useContentType.tsx
Due: typecheck, i18n, format, lint
